# dependencies
node_modules

# logs
*.log

# next.js
.next
next-env.d.ts

# build
/app
dist

# IDE
.vscode

python/bin
python/include
python/lib

# VOICEVOXの大きなファイル
python/voicevox_core/models/
python/voicevox_core/dict/
python/voicevox_core/onnxruntime/
*.vvm
*.dic
*.dylib
*.so
*.dll

